#
*DS_Store
*.csv
*.zip
*config.js
*.pem
*login.sh
*cookie
newrelic.js
*.sql
loaderio*
login*.sh
nginx.conf

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/
jspm_packages/
